---
import Bento from "./Bento.astro";
import Js from "./icons/Js.astro";
import Html from "./icons/Html.astro";
 import Chevron from "./icons/Chevron.astro";
import Python from "./icons/Python.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Css from "./icons/Css.astro";
import Php from "./icons/Php.astro";

const dataBento = [
  {
    grid: "col-span-3 row-span-2",
    color: "dark:bg-yellow-500/40 bg-yellow-500/30",
    subtitle:
      "Javascript es el lenguaje de la Web, suele ser llamado el padre de Python y PHP, estas de acuerdo",
    position: "top-0",
    title: "JS",
    icon: Js,
  },
  {
    grid: "col-span-2 row-span-1",
    color: "dark:bg-orange-400/60 bg-orange-400/30",
    subtitle: "El padre y estructura de la Web",
    position: "top-0 right-0",
    title: "HTML",
    icon: Html,
  },
  {
    grid: "col-span-2 row-span-2",
    color: "dark:bg-blue-500/40 bg-blue-500/30",
    subtitle: "Ok ya funciona, pero se ve bien!!",
    position: "top-0",
    title: "CSS",
    icon: Css,
  },
  {
    grid: "col-span-1 row-span-2",
    color: "dark:bg-purple-300/40 bg-purple-300/30",
    subtitle: "Esto si que es SSR",
    position: "top-0",
    title: "PHP",
    icon: Php,
  },
  {
    grid: "col-span-2 row-span-2",
    color: "dark:bg-emerald-400/40 bg-emerald-400/30",
    position: "bottom-0",
    title: "TAILWINDCSS",
    subtitle: "El mejor framework de CSS con utility-class",
    icon: Tailwind,
  },
  {
    grid: "col-span-2",
    color: "dark:bg-cyan-500/40 bg-cyan-500/30",
    position: "bottom-0 right-0",
    subtitle: "El framework favorito de JS",
    title: "REACT",
    icon: React,
  },
];
---

<div
  class="w-full flex items-center gap-2 py-4 justify-center mt-8 grid grid-cols-5 h-full"
>
  {
    dataBento.map((item, index) => (
      <Bento
        grid={item.grid}
        color={item.color}
        subtitle={item.subtitle}
        position={item.position}
        title={item.title}
        Icon={item.icon}
      />
    ))
  }
</div>
